body {
    color: #e3e3e3;
    display: flex;
    margin: 0;
    min-width: fit-content;
    min-height: 100vh;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: Roboto;
}

.title {
    position: relative;
    font-size: 5vw;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    margin: 0;
}

.title-link {
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-decoration: none;
}

#main_canvas {
    background: black;
}
